.aboutGrid {
    height: 100%;
    width: 100%;
    background-image: url(../img/back1.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 300px 280px 280px 300px;
    grid-template-rows: 250px 250px 250px;
    justify-content: center;
    padding: 80px;
}

.para {
    font-family: 'Oswald', sans-serif;
    color: black;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: left;
    font-size: 22px;
    animation-duration: 4s;
    animation-name: appear;
    animation-delay: 0s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

#aboutTittle {
    color: white;
    text-align: right;
    font-size: 50px;
}

.list {
    font-family: 'Oswald', sans-serif;
    color: white;
    grid-column: 3/5;
    grid-row: 3/4;
    text-align: right;
    font-size: 22px;;
    animation-duration: 4s;
    animation-name: appear;
    animation-delay: 0s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

#aboutList {
    list-style: none;
}

@media only screen and (max-width: 1224px) {
    .aboutGrid {
        height: 100%;
        width: 100%;
        background-image: url(../img/back1.png);
        display: grid;
        grid-template-columns: 180px 180px 180px 180px;
        grid-template-rows: 250px 150px 250px;
        justify-content: center;
        padding: 50px;
    }
    
    .para {
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: left;
        font-size: 20px;
    }
    
    #aboutTittle {
        font-size: 50px;
        text-align: right;
    
    }
    
    .list {
        grid-column: 3/5;
        grid-row: 3/4;
        font-size: 20px;
        text-align: right;
    }

    #aboutList {
        list-style: none;
    }
}

@media only screen and (max-width: 768px) {
    .aboutGrid {
        background-image: url(../img/back1.png);
        display: grid;
        grid-template-columns: 130px 130px;
        grid-template-rows: 250px 200px 250px;
        justify-content: center;
        padding: 30px;
    }

    .para {
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;
        font-size: 18px;

    }
    
    #aboutTittle {
        font-size: 40px;
        text-align: center;
    
    }
    
    .list {
        padding: 10px;
        grid-column: 1/3;
        grid-row: 3/4;
        text-align: center;
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px) {
    .aboutGrid {
        background-image: url(../img/back1.png);
        display: grid;
        grid-template-columns: 130px 130px;
        grid-template-rows: 250px 200px 250px;
        justify-content: center;
        padding: 30px;
    }
    
    .para {
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;
        font-size: 18px;

    }
    
    #aboutTittle {
        font-size: 40px;
        text-align: center;
    
    }
    
    .list {
        padding: 10px;
        grid-column: 1/3;
        grid-row: 3/4;
        text-align: center;
        font-size: 18px;
    }
}

@media only screen and (max-width: 320px) {
    .aboutGrid {
        background-image: url(../img/back5.png);
        background-position: left;
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 250px 100px 200px;
        justify-content: center;
        padding: 20px;
    }
    
    .para {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        font-size: 15px;
    }
    
    #aboutTittle {
        font-size: 28px;
        text-align: center;
    }
    
    .list {
        padding: 1px;
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        font-size: 15px;
    }
}