#formBoxes {
    height: 450px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    animation-duration: 4s;
    animation-name: appear;
    animation-delay: 0s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.form {
    height: 45px;
    width: 500px;
    border: 1px solid rgb(150, 150, 150);
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.note {
    height: 200px;
}

.butt {
    text-align: center;
    border: none;
}

button {
    height: 45px;
    width: 500px;
    background-color: rgb(80, 80, 80);
    color: lightgray;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

button:hover {
    color: rgb(25, 25, 25);

}

label {
    margin-left: 20px;
    margin-top: 5px;
}

textarea,
input {
    color: white;
    background-color: rgb(25, 25, 25);
    border: rgb(25, 25, 25);
    height: 30px;
    width: 370px;
    margin: 10px;
    margin-top: 6px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    outline: none;
}

textarea {
    margin-left: 20px;
}

::placeholder {
    color: rgb(75, 75, 75);
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

@media only screen and (max-width: 1224px) {
    #formBoxes {
        height: 420px;
        width: 100%;
        margin-top: 50px;
    }

    .form {
        height: 40px;
        width: 450px;
    }
    
    .note {
        height: 200px;
    }
    
    button {
        height: 40px;
        width: 450px;
    }
    
    textarea,
    input {
        height: 30px;
        width: 370px;
    }
}

@media only screen and (max-width: 768px) { /* SE DESFASA EL INPUT */
    #formBoxes {
        height: 360px;
        width: 100%;
        margin-top: 30px;
    }

    .form {
        height: 35px;
        width: 380px;
    }

    label {
        margin-left: 10px;
        font-size: 18px;
    }
    
    .note {
        height: 180px;
    }
        
    button {
        height: 35px;
        width: 380px;
    }
    
    textarea,
    input {
        height: 30px;
        width: 300px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    #formBoxes {
        height: 350px;
        width: 100%;
        margin-top: 30px;
    }

    .form {
        height: 30px;
        width: 270px;
        font-size: 18px;
    }

    .note {
        height: 180px;
    }
        
    button {
        height: 30px;
        width: 270px;
        font-size: 18px;
    }
    
    textarea,
    input {
        height: 20px;
        width: 200px;
        font-size: 16px;
    }

    ::placeholder{
        font-size: 16px;
        margin-left: 65px;
    }
}

@media only screen and (max-width: 320px) {
    #formBoxes {
        height: 300px;
        width: 100%;
        margin-top: 30px;
    }

    .form {
        height: 25px;
        width: 200px;
        font-size: 14px;
        
    }
    
    label {
        margin-left: 10px;
        font-size: 14px;
    }

    .note {
        height: 180px;
    }
        
    button {
        height: 20px;
        width: 200px;
        font-size: 14px;
    }
    
    textarea,
    input {
        height: 20px;
        width: 150px;
        font-size: 14px;
    }

    ::placeholder{
        font-size: 14px;
        margin-left: 0px;
    }
    
    nav i {
        font-size: 15px;
        margin-top: 15px;
    }
}