#nft {
    height: 1600px;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    align-items: center;
    animation-duration: 4s;
    animation-name: appear;
    animation-delay: 0s;
    padding: 80px;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.group {
    height: 304px;
    width: 700px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.imageShop {
    height: 300px;
    width: 300px;
}

.platonic{
    height: 300px;
    width: 300px;
}

.text {
    height: 300px;
    width: 300px;
}

.shopList {
    color: lightgray;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 0px;
    font-family: 'Oswald', sans-serif;
    list-style: none;
    line-height: 3.1em;
}

@media only screen and (max-width: 1224px) {
    #nft {
        height: 1200px;
        padding: 50px;
        justify-content: space-between;
        align-items: center;
    }
    
    .group {
        height: 235px;
        width: 470px;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
    }
    
    .imageShop {
        height: 230px;
        width: 230px;
    }
       
    .text {
        height: 230px;
        width: 230px;
    }
    
    .shopList {
        color: lightgray;
        font-size: 18px;
        margin-left: 30px;
        font-family: 'Oswald', sans-serif;
        list-style: none;
        line-height: 2.5em;
    }
}

@media only screen and (max-width: 768px) {
    #nft {
        height: 1150px;
        padding: 40px;
        justify-content: space-between;
        align-items: center;
    }
    
    .group {
        height: 225px;
        width: 460px;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
    }
    
    .imageShop {
        height: 225px;
        width: 225px;
    }
       
    .text {
        height: 225px;
        width: 225px;
    }
    
    .shopList {
        color: lightgray;
        font-size: 17px;
        margin-left: 10px;
        font-family: 'Oswald', sans-serif;
        list-style: none;
        line-height: 2.5em;
    }
}

@media only screen and (max-width: 480px) { 
    #nft {
        height: 760px;
        padding: 30px;
        justify-content: space-between;
        align-items: center;
    }
    
    .group {
        height: 140px;
        width: 300px;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
    }
    
    .imageShop {
        height: 145px;
        width: 145px;
        margin-left: 0px;
    }
       
    .text {
        height: 145px;
        width: 145px;
    }
    
    .shopList {
        color: lightgray;
        font-size: 13px;
        margin-left: 0px;
        font-family: 'Oswald', sans-serif;
        list-style: none;
        line-height: 2.2em;
    }
}

@media only screen and (max-width: 320px) { 
    #nft {
        height: 550px;
        padding: 30px;
        justify-content: space-between;
        align-items: center;
    }
    
    .group {
        height: 105px;
        width: 210px;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
    }
    
    .imageShop {
        height: 100px;
        width: 100px;
    }
       
    .text {
        height: 100px;
        width: 100px;
    }
    
    .shopList {
        color: lightgray;
        font-size: 10px;
        margin-left: 0px;
        font-family: 'Oswald', sans-serif;
        list-style: none;
        line-height: 2em;
    }
}